//Variables
@import "../bootstrap-5/bootstrap-5.2.2/scss/bootstrap.scss";
 
//*Colors
$azul-text: #09031D;
$azul-nav-foot: #170C3D;
$white: #ffffff;
$red: #A43F49;
$azul-button: #7C77AB;

//*Tipografia


//Fin Variables
//Navegacion  Navbar and Nav
.navegacion{
    background-color: $azul-nav-footer !important;
}

// Fin Navegacion 
// Header



//Fin Header

//*Home


//*Fin Home
//*Noticias


//*Fin Noticias
//*Vida Estudiantil


//*Fin Vida Estudiantil
//*Programas


//*Fin Programas
//*Contacto


//*Fin Contacto
//*Footer


//*Fin Footer

/////////////////////////////////////////////////////////////*Responsive*/////////////////////////////////////////////////////////////